.container,
.container input {
    width: 100%;
}

.container input{
    background-color: #262626;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    color: #F2F2F2;
    transition: all .3s;
    padding: 14px;
}

.container input::placeholder{
    color: #808080;
}

.container input:focus{
    border-color: #5E60CE;
}